body {
	font-family: arial;
    background-image:linear-gradient(315deg, rgb(185,179,175), rgb(255,250,240)), url(../img/bg.jpg);
    opacity: .9;
    background-repeat: no-repeat;
    background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
}

p {
    font-size: 1.4em;
    font-weight: 300;
    margin-bottom: .4em;
    color: black;
    line-height: 1.5;
}

a {
    color: black;
}

.items td {
    width: 200px;
    text-align: center;
}




